@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary: #47B2FF;
    --background-blue: #e6f2ff;
    --secondary-text: #848484;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background-blue);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    text-decoration: none;
}

.header-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-container {
    border: 2px solid magenta;
    display: flex;
}

.title-text-container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-title {
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.sub-title {
    color: var(--secondary-text);
    font-size: 1rem;
}

nav {
    border: 2px solid goldenrod;
    display: flex;
    gap: 20px;
}


.post-list {
    border: 2px solid blue;
}

.post-list ul {
    // border: 2px solid green;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post h2 {
    font-weight: bold;
    margin: 0;
}

.post h2 a {
    color: var(--primary);
}

.post span {
    color: var(--secondary-text)
}
