.post-title {
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    color: magenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}