<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7FE27SEP6B"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7FE27SEP6B');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Vn-TqxDHjkGV79CHBpJ_SohkQEKK6RKbhaNG3fDp57c" />
    
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
    
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <div class="container">
        <div class="side-bar">
            <div class="title-image">
                <a href="https://eddymikes.me"><img src="/assets/images/bondjamesbond.jpeg" alt=""></a>
            </div>
        </div>
        <div class="main-content-container">
            <div class="header-container">
                <div class="title-image-mobile">
                    <a href="https://eddymikes.me"><img src="/assets/images/bondjamesbond.jpeg" alt=""></a>
                </div>
                <div class="title-text-container">
                    <div class="main-title"><a href="https://eddymikes.me">Eddy Mikes</a></div>
                    <div class="sub-title"><em>The haters outnumber the believers 1,000 to 1</em></div>
                </div>
                <nav>
                    <div class="github-icon"><a href="https://github.com/emikes919" target="_blank"><i class='fa fa-github'></i></a></div>
                    <div class="blog-link"><a href="https://eddymikes.me">Blog</a></div>
                </nav>
            </div>
            
            {{ content }}

        </div>
    </div>
</body>
</html>